<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Dashboard</title>
</head>
<body>

<div class="container">
    <h1>Add word</h1>

    <form method="post" action="/save/">
        {% csrf_token %}

        <input type="text" name="fr" value="{{ word }}" readonly>

        <input type="text" name="de" list="deList" autocomplete="off" required/>
        <datalist id="deList">
            {% for word in de %}
                <option value="{{ word }}">"{{ word }}"</option>
            {% endfor %}
        </datalist>

        <input type="text" name="ru" list="ruList" autocomplete="off" required/>
        <datalist id="ruList">
            {% for word in ru %}
                <option value="{{ word }}">"{{ word }}"</option>
            {% endfor %}
        </datalist>

        <input type="text" name="ro" list="roList" autocomplete="off" required/>
        <datalist id="roList">
            {% for word in ro %}
                <option value="{{ word }}">"{{ word }}"</option>
            {% endfor %}
        </datalist>

        <button type="submit" class="btn btn-primary">Save</button>

    </form>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>